.main {
  background: rgb(244, 248, 248);
  margin: 0px;
}
.container {
  width: 95%;
  margin: auto;
  padding: 50px 0px;
}
.content {
  width: 100%;
}
.product {
  margin: 1rem auto;
  overflow: hidden;
  display: flex;
  border-radius: 5px;
  background: white;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   */
  border: 0.4px solid rgb(224, 224, 224);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.product:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(213, 247, 250, 0.22);
}
.product_card {
  width: 100%;
}
.product_card img {
  width: 100%;
  padding: 2rem;
  height: 200px;
}
.card_body {
  padding: 17px 20px;
  width: 100%;
  border-top: 0.4px solid rgb(224, 224, 224);
}
.name {
  color: rgb(58, 56, 56);
  text-align: center;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Work Sans", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.price {
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  font-family: "Work Sans", sans-serif;
  color: rgb(8, 161, 8);
}

.price del {
  color: red;
}
.header {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  margin: auto;
  margin-bottom: 40px;
  justify-content: space-between;
  border: 0.4px solid rgb(224, 224, 224);
  background: white;
  border-radius: 6px;
}
.header form {
  width: 20%;
  margin: auto;
  margin-left: 0px;
}
.header form select {
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  outline: none;
  box-shadow: none;
  border: 1px solid silver;
}
.header form select:focus {
  border-color: none;
  border: 1px solid silver;
  outline: none;
  box-shadow: none;
}
.header form select option {
  font-size: 1rem;
  padding: 10px 15px;
}
.items {
  margin: auto;
  margin-right: 0px;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
}

@media (max-width: 768px) {
  .product_card img {
    width: 100%;
    padding: 0.6rem;
    height: 150px;
  }
  .header form {
    width: 40%;
  }
}
