.wrapper {
  width: 100%;
  padding: 30px 0px;
}
.container {
  width: 90%;
  margin: 50px auto;
}

.heading {
  width: 100%;
}
.heading h1 {
  font-family: "Rozha One", serif;
  text-align: center;
}
.heading p {
  margin-bottom: 0px;
  text-align: center;
  color: #707070;
  font-size: 13px;
  font-family: "Work Sans", sans-serif;
}
.heading .underline {
  width: 80px;
  display: flex;
  margin: 12px auto;
  height: 3px;
  background: rgb(9, 189, 9);
  border: 2px solid rgb(9, 189, 9);
}
.blog {
  margin: 60px 0px;
}
.blog_container {
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.card {
  border-radius: 5px;
}
.card_body {
  padding: 15px;
  background: white;
}
.card_body h4 {
  font-size: 1.4rem;
  font-family: "Work Sans", sans-serif;
}
.card_body p {
  padding-top: 0;
  color: #626262;
  text-align: justify;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 12px;
}
.more {
  font-weight: 700;
  color: rgb(55, 158, 7);
  font-family: "Work Sans", sans-serif;
}
